{% extends "base/base.html" %}
{% load static %}



{% block content %}
            <div class="card mb-3">
              <img src="{{ project.image.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{project.description}}</p>
                <p class="card-text"><small class="text-body-secondary">{{project.joined}}</small></p>
              </div>
                <div>
                    <a href="{% url 'abouts' %}">
                    <button type="button" class="btn btn-primary"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                      Bosh sahifa
                    </button>
                    </a>
                </div>
                    <div>
                        <a href="{% url 'editabout' project.id  %}">
                        <button type="button" class="btn btn-secondary"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                          Tahrirlash
                        </button>
                    </a>
                    </div>
                    <div>
                        <a href="{% url 'deleteabout' project.id  %}">
                        <button type="button" class="btn btn-danger"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                          o'chirish
                        </button>
                    </a>
                    </div>

            </div>



{% endblock content %}

