
{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="container text-center">
    <figure class="text-center mt-4">
  <blockquote class="blockquote">
    <p>Good phones</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Someone famous in <cite title="Source Title">Source Title</cite>
  </figcaption>
</figure>
    <div class="row mx-auto p-1">
{% for reviewP in reviews_m %}
   <div class="card mx-auto p-1 col-2 h-3" style="width: 18rem; ">
        <img src="{{ i.project.image.url }}" class="card-img-top" alt="...">
       <div class="card-body">
        <h5 class="card-title">{{ reviewP.project.title }}</h5>description
        <p class="card-text">{{ reviewP.project.description | truncatechars:15 }}</p>
        <p class="card-text">Creator {{ reviewP.project.creator.name  }}</p>

        <a href="#" class="btn btn-primary">More info</a>
      </div>
    </div>
{% endfor %}
       <figure class="text-center mt-4">
          <blockquote class="blockquote">
            <p>Bad Phones</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </figcaption>
        </figure>
<div class="container text-center">
    <div class="row mx-auto p-1">
{% for i in reviews_m %}
   <div class="card mx-auto p-1 col-2 h-3" style="width: 18rem; ">
        <img src="{{ i.project.image.url }}" class="card-img-top" alt="...">
       <div class="card-body">
        <h5 class="card-title">{{ i.project.title }}</h5>description
        <p class="card-text">{{ i.project.description | truncatechars:15 }}</p>
        <p class="card-text">Creator {{ i.project.creator.name  }}</p>

        <a href="#" class="btn btn-primary">More info</a>
      </div>
    </div>
{% endfor %}
    </div>
</div>

{% endblock content %}

