{% extends "base/base.html" %}
{% load static %}



{% block content %}
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}

            <table class="tableadd">
                {% for for in form %}
                <tr>
                    <td>{{ for.label }}
                    <td style="width: 100%">{{ for }}</td>
                </tr>
                 <br>
                {% endfor %}
            </table>
        <hr>

        <input type="submit" value="Saqlash">
    </form>


{% endblock content %}

