.footer-0010{
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(108, 117, 125, 0.38);


}
.container{


}


.malumot_olish{
    background-color: rgba(18, 204, 148, 0.34);


}